.NavbarItems {
    background: rgb(73, 73, 83);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    color: rgb(106, 126, 252);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}



.nav-links:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: white;
}

.menu-icon {
    display: none;
}