* {
    font-family: 'Merriweather', serif;
}

.myCompare {
    display: flex;
    text-align: center;
    justify-Content: center;
    align-Items: top;
}

.compareContainer {
    margin: 25px 0;
}


#compare1 {
    padding: 10px;
    margin: 5px;
}

#compare2 {
    padding: 10px;
    margin: 5px;
}

#btn {
    padding: 10px;
    margin: -4px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

table.myTable {
    border: 1px solid;
    border-collapse: collapse;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.myTable thead tr {
    background-color: #494953;
    color: white;
}   

table.myTable tbody tr:nth-of-type(even) {
    background-color: white;
}   
table.myTable tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3e0;
}


table.mainTable {
    border: none;
    border-collapse: collapse;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#textName {
    display: flex;
    position: relative;
}

.myTable th, .myTable td {
    border: 1px solid black;
    text-align: center;
    width: auto;
    padding: 12px 15px;
    font-weight: bold;
}

.mainTable th, .mainTable td {
    border: none;
    text-align: center;
    width: 50%;
}

input {
    width: 97%;
    text-align: center;
    justify-content: center;
}

button {
    width: 97%;
    
}
