#body{
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.mySearch {
    display: flex;
    justify-Content: center;
}

.searchTable{
    display: flex;
    justify-content: center;
}

.playerTable{
    display: flex;
    justify-content: space-between;
    background-color: #494953;
    margin: 10px auto 0 auto;
    width: 22.67rem;
    border: black solid 1px;
}

img{
    display: flex;
    height: 15rem;
}

thead{
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: column;
    color: #EDF2F6;
    font-size: x-large;
}

#statBody td{
    background-color: #EDF2F6;
    padding: 4.5px 4.5px 4.5px 4.5px;
}

.playerTable > tbody{
    border: black solid 1px;
}

thead td, tbody td{
    padding: 2.5px 10px 2.5px 20px;
}

#imageId{
    border-top: none;
}
