.mySearch {
    display: flex;
    justify-Content: center;
}

.searchTable{
    display: flex;
    justify-content: center;
}

.playerTable{
    display: flex;
    justify-content: space-between;
    background-color: #494953;
    margin: 10px auto 0 auto;
    width: 32rem;
    border: black solid 2px;
}

img{
    display: flex;
    height: 15rem;
}

thead{
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: column;
    color: #EDF2F6;
    font-size: x-large;
}

#statBody td{
    text-align: center;
    background-color: #EDF2F6;
    padding: 4px
}

.playerTable > tbody{
    border-left: black solid 2px;
}

thead td, tbody td{
    padding: 5px 0 5px 0;
}

#imageId{
    border-top: none;
}
