
.mainContent {
  width: 100%;
  height: 500px;

}

html, body {
  /* background-color: #edf2f6; */
  /* background-color: white; */
}

h2 {
  padding: 20px;
}

.mainContent:nth-child(odd) {
  background-color: #edf2f6;
}

.navbar_class {
  text-align: center;
}
